body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: sans-serif;
    background:black ;
    height: 100 vh;
}

.container {
    background-color: #202020;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100vh;
}

.uno {
    background: #f13929;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    
}

.dos {
    background: #7250ff;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.tres {
    background: #01d0fb;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}