body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: sans-serif;
    background: #202020;
    
}

.container {
    background: black;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.boxcontainer{
    background: rebeccapurple;
    height: 400px;
    width: 400px;
    border-radius: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.uno {
    background: red;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    
}